/* 
    Created on : May 9, 2015, 2:19:21 PM
    Author     : Architect
*/


#main-header {
    
    text-align:center;
    
}

#icons {
    
    margin-left: auto;
    margin-right: auto;
    width: 524px;
    
}

#menu-buttons {
    
    margin-left: auto;
    margin-right: auto;
    width: 524px;
    text-align: center;
    padding-top: 15px;
    
}

#calendar-form {
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    
}

table.schedule {
    
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}

#icon:hover {
    
    -webkit-animation: rotate .25s;
    animation: rotate 2s;
    
}

@-webkit-keyframes rotate {
    
    100% {-webkit-transform: rotate(360deg);}
    
}

@keyframes rotate {
    
    100% {transform: rotate(360deg);}
    
}

.turn-left {
    animation: left 3s linear;
    -webket-animation: left 3s linear;
}

@keyframes left {
    25% {transform: rotate(-10deg);}
    75% {transform: rotate(-10deg);}
    100% {transform: rotate(0);}
}

@-webkit-keyframes left {
    50% {-webkit-transform: rotate(-10deg);}
    75% {-webkit-transform: rotate(-10deg);}
    100% {-webkit-transform: rotate(0);}
}

.turn-right {
    animation: right 3s linear;
    -webket-animation: right 3s linear;
}

@keyframes right {
    25% {transform: rotate(10deg);}
    75% {transform: rotate(10deg);}
    100% {transform: rotate(0);}
}

@-webkit-keyframes right {
    50% {-webkit-transform: rotate(10deg);}
    75% {-webkit-transform: rotate(10deg);}
    100% {-webkit-transform: rotate(0);}
}

.boost {
    animation: boost .5s linear;
    -webkit-animation: boost .5s linear;
}

@keyframes boost {
    25% {transform: scale(2.0);}
    75% {transform: scale(2.0);}
    100% {transform: scale(1.0);}
}

@-webkit-keyframes boost {
    25% {-webkit-transform: scale(2.0);}
    75% {-webkit-transform: scale(2.0);}
    100% {-webkit-transform: scale(1.0);}
}

img {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}